body{
  font-family: $rubik, sans-serif;
  background-color: #00000f;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  line-height: 1.2;
}

h1,h3{
  font-family: $playfair;
}

.section_title{
  font-size: 2.3rem;
  font-size: clamp(2.3rem, 1.9599999999999997rem + 1.7000000000000002vw, 4rem);
  padding-block: 2rem 3rem;
  text-align: center;

  @include desktop{
    padding-bottom: 6rem;
  }
}

.text_content{
  font-size: 1.2rem;

  @include mobile{
    font-size: inherit;
  }
}

a{
  transition: $transition;
  text-decoration: none;

  &:hover{
    color: $light-purple;
  }
}

a, p{
  font-size: 1.2rem;
}

.mobile_center{
  text-align: center;

  @include tablet{
    text-align: left;
  }
}

#blur_cursor {
  display: var(--touchscreen-display, block);
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translateZ(-10px) translate(-50%, -50%);
  backdrop-filter: blur(20px);
  transition: transform .2s;

  @include desktop{
    display: block;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;;
    background: radial-gradient(circle at center, rgba(0,0,0,0.4), rgba(0,0,0,0));
    filter: blur(30px);
    border-radius: 50%;
    position: absolute;
    top: 0; left: 0;
  }
}