// MEDIA-QUERIES
@mixin desktop_xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 480px) {
    @content;
  }
}

// COLORS
:root{
  --white : #ffffff;
  --black : #000000;
  --purple : #770885;
  --background : #0E0024;
  --container-border: 0.7rem;

  @include tablet{
    --container-border: 1.5rem;
  }
}

$background : #0E0024;




// FONT
$righteous : 'Righteous', sans-serif;


// UTILS
$transition : ease-in-out 0.2s;