// MEDIA-QUERIES
@mixin desktop_xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 480px) {
    @content;
  }
}

:root{
  --container-border: 0.8rem;
  --max-width : 120rem;

  @include tablet{
    --container-border: 1.5rem;
  }
}


// COLORS
$white : #ffffff;
$black : #000000;
$background : #09061f;
$purple : #770885;
$light-purple : #ab87f6;
$border-color: rgba(#b9b9b9, .2);

// color for gradient
$a : #a26aa9;
$b : #4f318c;
$c : #fbe0cd;
$d : #776ab7;

// FONT
$rubik : 'Rubik', 'Arial', sans-serif;
$playfair : 'Playfair Display', 'Arial', sans-serif;


// UTILS
$transition : ease-in-out 0.2s;
$border : 1px solid $border-color;