// COLORS
$white : #ffffff;
$black : #000000;

// FONT
$righteous : 'Righteous', sans-serif;

// MEDIA-QUERIES
@mixin desktop_xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 480px) {
    @content;
  }
}